html,
body {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    display: flex;
}
.sidebar {
    width: 25%;
    height: 100%;
    padding: 10px;
}
.container {
    height: 100%;
    width: 75%;
}
.main-content {
    flex-grow: 1;
    height: 100%;
    width: 100%;
}
.btn {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    text-align: center;
    line-height: 10px; 
    margin-top: 10px; 
}
.list-group-item{
    display: flex;
    justify-content: space-between;
}
.badge {
    max-height: 20px;
}
#map {
    height: 100%;
    width: 100%;
}
#filter-form {
    display: fixed;
    gap: 20px;
}
#myButton {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
#from-date,
#to-date {
    width: 150px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
}
.scrollable-list {
    height: 400px;
    overflow-y: auto;
}
.error-message {
    color: red;
    display: block;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
}
