name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21.x
          cache-dependency-path: "go.sum"

      - name: Build
        run: make callhome
      
      - name: Lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.59.1
          args: --config .golangci.yml

      - name: Run tests
        run: make test
